<div class="chatbox">
    <div class="chatbox-title"><span class="chatbox-title-text">Quick Chat<span *ngIf="chat.id"> - Room: {{chat.name}}
                ({{chat.id}}) - Nick: {{nickname}}</span></span></div>

    <div *ngIf="!chat.id">
        <div class="chatbox-panel">
            Enter a nickname:
            <input type="text" class="chatbox-input-text" [class.chatbox-input-text-invalid]="invalidNickname && !nickname"
                [(ngModel)]="nickname">
        </div>

        <div class="chatbox-panel">
            <div>Connect to a chatroom:</div>

            <div style="margin-top: 15px;">
                <input type="button" class="chatbox-input-button" style="margin-right: 20px;" value="General" (click)="connect(1)">

                <span style="margin-right: 20px;">Or enter the id of a chatroom:</span>
                <input type="text" class="chatbox-input-text" [(ngModel)]="chatId">
                <input type="button" class="chatbox-input-button" value="Connect" (click)="connect(chatId)">
            </div>
        </div>

        <div class="chatbox-panel">
            <div>Create a new room:</div>
            <input type="text" class="chatbox-input-text" [(ngModel)]="newRoomName">
            <input type="button" class="chatbox-input-button" style="margin-top: 15px;" value="Create" (click)="createChat(newRoomName)">

            <span *ngIf="createdChat">
                New room id: {{createdChat.id}}
                <input type="button" class="chatbox-input-button" value="Connect" (click)="connect(createdChat.id)">
            </span>
        </div>

        <div *ngIf="chatRoomConnectionError" class="error">
            {{chatRoomConnectionError}}
        </div>
    </div>

    <div *ngIf="chat.id">
        <div class="chatbox-messages" #chatbox>
            <div *ngFor="let message of chat.messages">{{message.sender}}: {{message.message}}</div>
        </div>

        <div style="margin-top: 20px;">
            <input type="text" class="chatbox-input-text chatbox-input-text-message" [(ngModel)]="messageInput">
            <input type="button" class="chatbox-input-button" value="Send" (click)="sendMessage(messageInput)">
        </div>
    </div>
</div>